<template>
<div>
  <div class='overflow-hidden hide-scrollbar flex w-96 mt-10'>
    <span ref="htab" class="hide-scrollbar relative z-0 overflow-x-auto inline-flex shadow-sm">
      <button @click="setActiveTab(0)" :class='activeTabIndex === 0 ? "active-tab" : "" ' type="button" class="ml-6 relative inline-flex items-center px-10 py-2 rounded-l-xl border border-gray-200 bg-white text-sm font-medium text-primary-dark hover:bg-primary-light focus:z-10 focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary">
        Arbeitnehmer
      </button>
      <button @click="setActiveTab(1)" :class='activeTabIndex === 1 ? "active-tab" : "" ' type="button" class="-ml-px relative inline-flex items-center px-10 py-2 border border-gray-200 bg-white text-sm font-medium text-primary-dark hover:bg-primary-light focus:z-10 focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary">
        Arbeitgeber
      </button>
      <button @click="setActiveTab(2)" :class='activeTabIndex === 2 ? "active-tab" : "" ' type="button" class="mr-6 -ml-px relative inline-flex items-center px-10 py-2 rounded-r-xl border border-gray-200 bg-white text-sm font-medium text-primary-dark hover:bg-primary-light focus:z-10 focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary">
        Temporärbüro
      </button>
    </span>
  </div>

  <div class='mt-6 mb-16'>

    <div class='text-lg leading-5 text-center px-16 text-gray-600'>
      {{ tabHeading }}
    </div>
    <div class='flex items-center justify-center ml-16 mt-4'>
      <AssetsProfileData class='h-36 z-10'/>
    </div>

<!--     Arbeitnehmer -->
    <div v-if='activeTabIndex === 0'>
      <div class='relative'>
        <div class='absolute bg-opacity-50 -mt-24 -ml-16 mb-24 -inset-0 z-0 rounded-full h-64 w-64 bg-gray-100'></div>
      </div>
      <div class='mx-6 mb-6 flex flex-row space-x-4 items-end'>
        <div class='text-gray-500 z-10 text-9xl -mt-12'>1.</div>
        <div class='text-gray-400 z-0 text-base pb-2'>Erstellen dein Lebenslauf</div>
      </div>

      <div class='overflow-hidden'>
        <AssetsWaveSmallTop />
      </div>
      <div class='bg-gradient-to-r from-primary-light to-secondary-light '>
        <div class='px-6 pb-6 flex flex-row space-x-4 items-end'>
          <div class='text-gray-500 z-10 text-9xl'>2.</div>
          <div class='text-gray-400 z-0 text-base pb-2'>Erstellen dein Lebenslauf</div>
        </div>
        <div class='flex z-10 items-center justify-center'>
          <AssetsTask class='z-10'/>
        </div>
      </div>
      <div class='overflow-hidden'>
        <AssetsWaveSmallBottom />
      </div>

      <div class='relative'>
        <div class='absolute bg-opacity-50 -mt-12 -ml-32 mb-24 -inset-0 z-0 rounded-full h-96 w-96 bg-gray-100'></div>
      </div>
      <div class='mx-6 mb-6 flex flex-row space-x-4 items-end'>
        <div class='text-gray-500 z-10 text-9xl'>3.</div>
        <div class='text-gray-400 z-0 text-base pb-10'>Mit nur einem Klick <br/>bewerben</div>
      </div>
      <div class='flex z-10 items-center justify-end'>
        <AssetsPersonalFile class='z-10 h-56 -mt-12'/>
      </div>
    </div>

<!--    Arbeitgeber -->
    <div v-else-if='activeTabIndex === 1'>
      <div class='relative'>
        <div class='absolute bg-opacity-50 -mt-24 -ml-16 mb-24 -inset-0 z-0 rounded-full h-64 w-64 bg-gray-100'></div>
      </div>
      <div class='mx-6 mb-6 flex flex-row space-x-4 items-end'>
        <div class='text-gray-500 z-10 text-9xl -mt-12'>1.</div>
        <div class='text-gray-400 z-0 text-base pb-2'>Erstellen dein Unternehmensprofil</div>
      </div>

      <div class='overflow-hidden'>
        <AssetsWaveSmallTop />
      </div>
      <div class='bg-gradient-to-r from-primary-light to-secondary-light '>
        <div class='px-6 pb-6 flex flex-row space-x-4 items-end'>
          <div class='text-gray-500 z-10 text-9xl'>2.</div>
          <div class='text-gray-400 z-0 text-base pb-2'>Erstellen ein Jobinserat</div>
        </div>
        <div class='flex z-10 items-center justify-center'>
          <AssetsAboutMe class='h-44 z-10 -mt-16'/>
        </div>
      </div>
      <div class='overflow-hidden'>
        <AssetsWaveSmallBottom />
      </div>

      <div class='relative'>
        <div class='absolute bg-opacity-50 -mt-12 -ml-32 mb-24 -inset-0 z-0 rounded-full h-96 w-96 bg-gray-100'></div>
      </div>
      <div class='mx-6 mb-6 flex flex-row space-x-4 items-end'>
        <div class='text-gray-500 z-10 text-9xl'>3.</div>
        <div class='text-gray-400 z-0 text-base pb-10'>Wähle deinen<br/>neuen Mitarbeiter aus</div>
      </div>
      <div class='flex z-10 items-center justify-center'>
        <AssetsSwipeProfiles class='z-10 h-56'/>
      </div>
    </div>

<!--  Temporärbüro  -->
    <div v-else>
      <div class='relative'>
        <div class='absolute bg-opacity-50 -mt-24 -ml-16 mb-24 -inset-0 z-0 rounded-full h-64 w-64 bg-gray-100'></div>
      </div>
      <div class='mx-6 mb-6 flex flex-row space-x-4 items-end'>
        <div class='text-gray-500 z-10 text-9xl -mt-12'>1.</div>
        <div class='text-gray-400 z-0 text-base pb-2'>Erstellen dein Unternehmensprofil</div>
      </div>

      <div class='overflow-hidden'>
        <AssetsWaveSmallTop />
      </div>
      <div class='bg-gradient-to-r from-primary-light to-secondary-light '>
        <div class='px-6 pb-6 flex flex-row space-x-4 items-end'>
          <div class='text-gray-500 z-10 text-9xl'>2.</div>
          <div class='text-gray-400 z-0 text-base pb-2'>Erhalte Vermittlungs- angebot von Arbeitgeber</div>
        </div>
        <div class='flex z-10 items-center justify-center'>
          <AssetsJobOffers class='z-10 -mt-6'/>
        </div>
      </div>
      <div class='overflow-hidden'>
        <AssetsWaveSmallBottom />
      </div>

      <div class='relative'>
        <div class='absolute bg-opacity-50 -mt-12 -ml-32 mb-24 -inset-0 z-0 rounded-full h-96 w-96 bg-gray-100'></div>
      </div>
      <div class='mx-6 mb-6 flex flex-row space-x-4 items-end'>
        <div class='text-gray-500 z-10 text-9xl'>3.</div>
        <div class='text-gray-400 z-0 text-base pb-2'>Vermittlung nach Provision oder Stundenlohn</div>
      </div>
      <div class='flex z-10 items-center justify-center'>
        <AssetsBusinessDeal class='z-10 h-56'/>
      </div>
    </div>
  </div>


</div>
</template>

<script>
export default {
  name: 'FeatureTabs',
  data() {
    return {
      activeTabIndex: 0,
    }
  },
  computed: {
    tabHeading() {
      const headers = [
        'Drei einfache Schritte zu deinem neuen Job',
        'Drei einfache Schritte zu deinem neuen Mitarbeiter',
        'Drei einfache Schritte zur Vermittlung neuer Mitarbeiter',
      ]
      return headers[this.activeTabIndex]
    }
  },
  methods: {
    setActiveTab(ind) {
      const width = Math.floor(this.$refs.htab.offsetWidth / 3)
      switch (ind) {
        case 0:
          this.$refs.htab.scroll({
            left: 0,
            behavior: 'smooth'
          })
          break
        case 1:
          // this.$refs.htab.scrollLeft = width - 40
          this.$refs.htab.scroll({
            left: width - 40,
            behavior: 'smooth'
          })
          break
        case 2:
          this.$refs.htab.scroll({
            left: width * 2,
            behavior: 'smooth'
          })
          break
      }
      this.activeTabIndex = ind
    }
  }
}
</script>

<style scoped>
.active-tab {
  @apply bg-primary text-white border-primary
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
</style>
