<template>
  <div class='overflow-hidden -mt-2'>
    <div class='bg-gradient-to-b from-secondary-light to-primary-light'>
      <div class='pt-8 pb-2 px-12'>
        <div class='text-center text-gray-800 font-medium text-5xl'>
          Deine Job
        </div>
        <div class='pt-4 text-center text-gray-800 font-medium text-5xl'>
           website
        </div>
      </div>
      <div class='flex flex-col items-center justify-center'>
        <AssetsAgreement />
      </div>
    </div>
    <AssetsWave class='text-primary-light'/>

  </div>
</template>

<script>
export default {
  name: 'HeroSection'
}
</script>

<style scoped>

</style>
