<template>
<div class='relative z-20 sticky bottom-0'>
  <div class='flex flex-row bg-white shadow-top items-center justify-center rounded-t-xl shadow-md p-6'>
    <div class='relative group w-full cursor-pointer'>
      <div class='absolute -inset-0 opacity-0 group-hover:opacity-10 bg-black rounded-xl'></div>
      <div class='text-sm bg-gradient-to-r w-full text-white text-center from-primary-dark via-secondary to-secondary rounded-xl px-6 py-2.5' >
        Kostenlos Registrieren
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'RegistrationFooter'
}
</script>

<style scoped>

</style>
