<template>
<div class='relative z-20 sticky top-0'>
  <div class='h-1 bg-gradient-to-r from-primary-dark via-secondary to-secondary'></div>
  <div class='flex flex-row bg-white items-center justify-end rounded-b-xl shadow-md p-6'>
    <div class='text-primary-dark hover:opacity-90 opacity-100 text-sm hover:underline cursor-pointer'>Login</div>
  </div>
</div>
</template>

<script>
export default {
  name: 'TheHeader'
}
</script>

<style scoped>

</style>
