<template>
<svg viewBox="0 0 1030 699" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M816 699C934.189 699 1030 694.299 1030 688.5C1030 682.701 934.189 678 816 678C697.811 678 602 682.701 602 688.5C602 694.299 697.811 699 816 699Z" fill="#D0CDE1"/>
<path d="M815 392.256L838.143 481.639C838.143 481.639 839 544.633 844.143 569.32C849.286 594.006 866.429 653.595 866.429 653.595L887 657L882.714 573.576C882.714 573.576 882.714 523.351 878.429 512.285C874.143 501.218 865.571 388 865.571 388L815 392.256Z" fill="#FFB8B8"/>
<path opacity="0.1" d="M815 392.256L838.143 481.639C838.143 481.639 839 544.633 844.143 569.32C849.286 594.006 866.429 653.595 866.429 653.595L887 657L882.714 573.576C882.714 573.576 882.714 523.351 878.429 512.285C874.143 501.218 865.571 388 865.571 388L815 392.256Z" fill="black"/>
<path d="M879.145 20H879.145C850.898 20 828 45.2577 828 76.4147V116H840.249L847.341 101.333L845.568 116H924.3L930.747 102.667L929.136 116H938V84.9185C938 49.065 911.65 20 879.145 20Z" fill="#2F2E41"/>
<path d="M793.745 379C793.745 379 783.342 422.488 797.212 426.752C811.082 431.015 807.615 379 807.615 379H793.745Z" fill="#FFB8B8"/>
<path d="M810.401 159L803.6 166.623L805.3 313.156L790 382.612L824.001 386L841 246.243L835.901 175.094L810.401 159Z" fill="#3F3D56"/>
<path opacity="0.1" d="M810.401 159L803.6 166.623L805.3 313.156L790 382.612L824.001 386L841 246.243L835.901 175.094L810.401 159Z" fill="black"/>
<path d="M874.5 110C894.658 110 911 93.8823 911 74C911 54.1178 894.658 38 874.5 38C854.342 38 838 54.1178 838 74C838 93.8823 854.342 110 874.5 110Z" fill="#FFB8B8"/>
<path d="M853 95.8425C853 95.8425 863.814 151.845 858.898 157.74C853.983 163.635 911 146.932 911 146.932C911 146.932 892.322 108.615 902.153 87L853 95.8425Z" fill="#FFB8B8"/>
<path d="M945.255 339C945.255 339 955.658 382.488 941.788 386.752C927.918 391.015 931.385 339 931.385 339H945.255Z" fill="#FFB8B8"/>
<path d="M867.532 384C867.532 384 853.032 470.118 853.885 482.782C854.738 495.446 853.885 497.135 853.885 497.135C853.885 497.135 839.386 534.284 835.121 555.391C830.857 576.498 821.475 603.516 821.475 603.516C821.475 603.516 810.387 628 819.769 628C829.151 628 841.945 624.623 841.945 624.623C841.911 614.871 845.219 605.395 851.327 597.744C861.561 584.941 892.266 524.997 892.266 517.398C892.266 509.799 897.383 487.848 897.383 487.848L917 394.132L867.532 384Z" fill="#FFB8B8"/>
<path d="M807.878 324.219C807.878 324.219 793.593 398.284 806.197 400.007C818.802 401.729 836.448 388.811 859.136 403.451C881.824 418.092 919.638 414.647 919.638 414.647C919.638 414.647 945.687 346.611 922.159 330.248C898.63 313.885 807.878 324.219 807.878 324.219Z" fill="#2F2E41"/>
<path d="M823.744 618.082C827.535 616.458 831.701 615.872 835.803 616.386C839.727 616.959 843.727 616.051 847 613.843C847 613.843 840.109 638.428 840.971 647.754C841.832 657.079 838.387 696.924 820.299 692.685C802.211 688.447 797.043 675.73 803.933 653.688C810.824 631.646 809.101 606.213 809.101 606.213C809.101 606.213 821.672 593.433 824 595.161C826.328 596.888 823.744 618.082 823.744 618.082Z" fill="#2F2E41"/>
<path d="M880.66 649.813C880.66 649.813 872.324 631.167 862.321 648.118C852.318 665.069 851.484 669.307 851.484 669.307C851.484 669.307 823.141 695.581 843.148 698.124C863.154 700.667 878.993 697.277 878.993 693.039C878.993 688.801 888.996 689.649 889.83 686.258C890.663 682.868 888.163 651.508 888.163 651.508L880.66 649.813Z" fill="#2F2E41"/>
<path d="M900.255 124.095C900.255 124.095 864.544 130.884 860.293 130.035C859.335 129.866 858.367 129.764 857.395 129.728C849.08 129.351 840.835 131.392 833.661 135.602C821.821 142.465 804.175 154.681 804.175 166.521C804.175 184.34 827.133 214.887 827.133 214.887C827.133 214.887 805.876 287.859 807.576 294.647C809.277 301.435 794.822 324.345 804.175 331.982C813.528 339.618 902.806 331.982 918.961 339.618C935.116 347.255 927.464 237.796 927.464 237.796C927.464 237.796 970.827 138.52 948.72 129.186C941.567 126.166 935.393 123.857 930.313 122.114C925.423 120.434 920.245 119.744 915.084 120.084C909.923 120.425 904.882 121.788 900.255 124.095V124.095Z" fill="#3F3D56"/>
<path d="M933.439 130L951.907 133.24C951.907 133.24 960 141.962 960 146.234C960 150.506 958.39 335.056 955.976 341.036C953.561 347.017 927 344.454 927 344.454L931.829 239.363L933.439 130Z" fill="#3F3D56"/>
<path d="M893.935 34.8295C891.486 31.5156 888.313 28.8149 884.661 26.9368C881.009 25.0587 876.977 24.0538 872.877 24H871.878C852.615 24 837 41.5662 837 63.2352V63.2353H843.454L844.497 55.2394L846.025 63.2353H884.306L887.513 56.4706L886.712 63.2353H894.243C897.757 80.8235 892.707 98.4118 879.095 116H891.923L898.338 102.471L896.734 116H921.189L926 84.8823C926 61.578 912.564 41.8164 893.935 34.8295Z" fill="#2F2E41"/>
<path d="M900 38C910.493 38 919 29.4934 919 19C919 8.50659 910.493 0 900 0C889.507 0 881 8.50659 881 19C881 29.4934 889.507 38 900 38Z" fill="#2F2E41"/>
<path d="M620 158H78V504H620V158Z" fill="#3F3D56"/>
<path d="M604 220H360V504H604V220Z" fill="#3182CE"/>
<path d="M591 247H443V252H591V247Z" fill="white"/>
<path d="M591 260H443V266H591V260Z" fill="white"/>
<path d="M493 273H443V279H493V273Z" fill="white"/>
<path d="M287 375H139V381H287V375Z" fill="white"/>
<path d="M287 388H139V394H287V388Z" fill="white"/>
<path d="M189 401H139V407H189V401Z" fill="white"/>
<path d="M556 320H408V326H556V320Z" fill="white"/>
<path d="M556 333H408V339H556V333Z" fill="white"/>
<path d="M556 346H408V352H556V346Z" fill="white"/>
<path d="M556 358H408V364H556V358Z" fill="white"/>
<path d="M556 371H408V377H556V371Z" fill="white"/>
<path d="M556 384H408V390H556V384Z" fill="white"/>
<path d="M556 397H408V403H556V397Z" fill="white"/>
<path d="M556 410H408V416H556V410Z" fill="white"/>
<path d="M556 423H408V429H556V423Z" fill="white"/>
<path d="M556 435H408V441H556V435Z" fill="white"/>
<path d="M556 448H408V454H556V448Z" fill="white"/>
<path d="M267 279.997C267.009 288.048 265.213 295.999 261.744 303.264C258.275 310.53 253.222 316.926 246.956 321.981C244.638 323.864 242.166 325.548 239.567 327.016C237.998 327.908 236.384 328.717 234.731 329.441C229.253 331.858 223.407 333.339 217.439 333.82C215.972 333.942 214.491 334.002 212.995 334C210.035 334.003 207.079 333.76 204.159 333.273C203.13 333.113 202.114 332.913 201.111 332.682C199.357 332.292 197.625 331.811 195.922 331.241C188.916 328.905 182.465 325.153 176.97 320.219C175.555 318.965 174.213 317.629 172.951 316.22C167.071 309.719 162.862 301.884 160.688 293.393C158.513 284.901 158.439 276.008 160.471 267.481C162.503 258.954 166.58 251.05 172.351 244.452C178.121 237.853 185.411 232.759 193.591 229.608C201.771 226.458 210.595 225.346 219.301 226.369C228.007 227.392 236.333 230.519 243.56 235.479C250.787 240.44 256.698 247.085 260.782 254.841C264.866 262.598 267 271.231 267 279.997V279.997Z" fill="#3182CE"/>
<path d="M619 309C595.181 309 572.337 318.493 555.494 335.389C538.651 352.286 529.189 375.203 529.189 399.099V399.099C529.189 406.097 526.418 412.808 521.485 417.757C516.552 422.705 509.863 425.485 502.887 425.485H459.264C448.986 425.485 438.809 427.516 429.314 431.462C419.818 435.407 411.19 441.191 403.923 448.482C396.655 455.772 390.891 464.428 386.958 473.954C383.024 483.479 381 493.689 381 504V504H619V309H619Z" fill="#3F3D56"/>
<path d="M354 158H343V504H354V158Z" fill="#2F2E41"/>
<path d="M74.9987 603.954C75.1089 614.999 68.4317 618.92 60.1483 618.999C59.9559 619.001 59.7644 619 59.5738 618.998C59.1898 618.994 58.8098 618.98 58.4336 618.958C50.9524 618.511 45.1031 614.512 45.0006 604.24C44.8945 593.609 58.656 580.06 59.6882 579.058L59.69 579.057C59.7292 579.019 59.7492 579 59.7492 579C59.7492 579 74.8885 592.908 74.9987 603.954Z" fill="#D0CDE1"/>
<path d="M60 625.164C93.1371 625.164 120 623.268 120 620.929C120 618.59 93.1371 616.693 60 616.693C26.8629 616.693 0 618.59 0 620.929C0 623.268 26.8629 625.164 60 625.164Z" fill="#D0CDE1"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M619.5 553.9C631.276 553.9 642.569 549.222 650.896 540.896C659.222 532.569 663.9 521.276 663.9 509.5C663.9 497.724 659.222 486.431 650.896 478.104C642.569 469.778 631.276 465.1 619.5 465.1C607.724 465.1 596.431 469.778 588.104 478.104C579.778 486.431 575.1 497.724 575.1 509.5C575.1 521.276 579.778 532.569 588.104 540.896C596.431 549.222 607.724 553.9 619.5 553.9V553.9ZM640.074 502.324C641.085 501.277 641.644 499.875 641.632 498.42C641.619 496.965 641.035 495.573 640.006 494.544C638.977 493.515 637.585 492.931 636.13 492.918C634.675 492.906 633.273 493.465 632.226 494.476L613.95 512.752L606.774 505.576C605.727 504.565 604.325 504.006 602.87 504.018C601.415 504.031 600.023 504.615 598.994 505.644C597.965 506.673 597.381 508.065 597.368 509.52C597.356 510.975 597.915 512.377 598.926 513.424L610.026 524.524C611.067 525.564 612.478 526.149 613.95 526.149C615.422 526.149 616.833 525.564 617.874 524.524L640.074 502.324V502.324Z" fill="#26FEB0"/>
</svg>

</template>

<script>
export default {
  name: 'PersonalFile'
}
</script>

<style scoped>

</style>
