<template>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" fill="currentColor" class="-mr-56">
      <path fill-opacity="1" d="M0,288L48,293.3C96,299,192,309,288,288C384,267,480,213,576,165.3C672,117,768,75,864,85.3C960,96,1056,160,1152,192C1248,224,1344,224,1392,224L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
      </path></svg>
  </div>
</template>

<script>
export default {
  name: 'Wave'
}
</script>

<style scoped>

</style>
