<template>
<svg viewBox="0 0 595 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M214.889 53.3834C75.414 1.5987 13.515 -2.9951 0 1.18108V68H595V15.7977C527.695 -2.57751 388.558 33.1985 327.402 53.3834C283.613 64.2415 234.148 57.9076 214.889 53.3834Z" fill="url(#paint0_linear_3:7)"/>
<defs>
<linearGradient id="paint0_linear_3:7" x1="-2.20995e-06" y1="38.9756" x2="883" y2="38.9756" gradientUnits="userSpaceOnUse">
<stop stop-color="#E6FFFA"/>
<stop offset="0.708487" stop-color="#EBF4FF"/>
</linearGradient>
</defs>
</svg>
</template>

<script>
export default {
  name: 'WaveSmallTop'
}
</script>

<style scoped>

</style>
