<template>
<svg viewBox="0 0 595 72" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M272.021 45.75C203.679 31.95 62.1977 57.5 0 72V0H595C553.635 19.2 497.832 33.5 475.101 38.25C391.771 55.05 304.994 50.25 272.021 45.75Z" fill="url(#paint0_linear_4:12)"/>
<defs>
<linearGradient id="paint0_linear_4:12" x1="-2.20995e-06" y1="41.2683" x2="883" y2="41.2683" gradientUnits="userSpaceOnUse">
<stop stop-color="#E6FFFA"/>
<stop offset="0.708487" stop-color="#EBF4FF"/>
</linearGradient>
</defs>
</svg>
</template>

<script>
export default {
  name: 'WaveSmallBottom'
}
</script>

<style scoped>

</style>
