<template>
  <div class='max-w-sm mx-auto'>
    <TheHeader />
    <HeroSection />
    <LazyFeatureTabs />
    <RegistrationFooter />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({})
</script>
